// project less root
.m-main {
    padding: 20px 30px;
}
@media screen and (max-width: @ipad) {
    .m-main {
        padding: 10px 20px;
    }
}
@media screen and (max-width: @phone) {
    .m-main {
        padding: 10px 15px;
    }
    .el-drawer {
        width: 90% !important;
    }

    .wechat-miniprogram {
        .c-breadcrumb {
            position: sticky;
            top: 0;
        }

        .c-main {
            margin-top: 0 !important;
        }

        .c-sidebar-left,
        .c-sidebar-right {
            top: 48px !important;
        }

        body {
            padding-top: 0;
        }
    }
}
.el-drawer__header {
    .mb(0) !important;
}
.el-drawer__body {
    padding-top: 10px !important;
}
