.m-competitive-trick {
    .m-trick-item {
        border-radius: 8px;
        padding: 20px;
        margin-top: 10px;
        background-color: @bg-gray;

        border: 1px solid @border-hr;
        &:hover {
            border: 1px solid @color-link;
            .m-trick-item__title {
                .u-link {
                    color: @color-link;
                    .underline(@color-link);
                }
            }
        }

        .u-updated {
            margin-top: 10px;
            font-size: 12px;
            color: #999;
        }

        .u-push {
            // .pa;
            // .rt(0);
            .flex;
            align-items: center;
            gap: 2px;
        }
        .u-push__time {
            .fz(12px);
            color: #999;
            border: 1px solid #eee;
            background-color: @bg-light;
            margin-right: 5px;
            .r(3px);
            padding: 5px;

            &.is-recent {
                color: #48c10f;
                border-color: #48c10f;
                background-color: #f8fff5;
            }
        }
    }
}
.u-competitive-trick-null {
    background-color: #f6f8fa;
    padding: 8px 10px;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    margin-top: 20px;
    .flex;
    align-items: center;
    justify-content: center;
    // gap: 5px;
    .el-icon {
        // top: 1px;
        .pr;
        margin-right: 5px;
    }
    .s-link {
        margin-left: 5px;
    }
}
.m-trick-item__content {
    .flex;
    gap: 10px;
}
.m-trick-item__header {
    .flex;
    align-items: center;
    justify-content: space-between;
}
.m-trick-item__title {
    margin-bottom: 20px;
    .bold;
    .flex;
    flex: 1;
    align-items: center;
    gap: 5px;
    .pr;
    white-space: nowrap;
    .u-marks {
        .flex;
    }

    .u-link {
        color: @color;

        &:hover {
            color: @color-link;
        }
    }

    .u-label {
        .fz(12px,1.2);
        .r(3px);
        .mr(5px);
        padding: 2px 5px;
    }
    .u-zlp {
        border: 1px solid #fa80a2;
        color: #fa80a2;
        .normal;
    }

    .u-wujie {
        border: 1px solid #00dcda;
        color: #3ae0f1;
        background: #eff;
    }

    // 角标
    .u-mark {
        font-style: normal;
        font-size: 12px;
        padding: 1px 5px 2px 5px;
        margin-left: 5px;
        border-radius: 2px;
        background-color: #6f42c1;
        color: #fff;
        .ml(5px);
        .normal;
    }

    .u-tv {
        .fz(12px);
        .r(3px);
        .mr(5px);
        padding: 2px 5px;
        background-color: #e35f82;
        .flex;
        align-items: center;
        color: #fff;
        font-weight: normal;
    }
    // .u-tv-icon {
    // .size(16px);
    // .mr(5px);
    // }
}
.m-trick-item__thx {
    .flex;
    align-items: center;
    gap: 20px;
    transform: scale(0.8);
    transform-origin: right top;
    margin-bottom: 20px;
    .u-icon {
        .size(26px);
        .pointer;
        .pr;
        top: 1px;
    }

    .w-thx-panel {
        margin-bottom: 0;
        // .w-like2 {
        //     .u-icon {
        //         top: -4px;
        //     }
        // }
    }

    .u-push {
    }
    .u-push__btn {
        .h(22px);
        padding: 13px 11px;
    }
}
.m-trick-item__left {
    width: 80px;
    flex-shrink: 0;
    .m-author {
        .flex;
        flex-direction: column;
        align-items: center;
    }
    .u-avatar {
        .size(68px);
        border-radius: 50%;
    }
    .u-name {
        margin-top: 5px;
        width: 100%;
        .nobreak;
        text-align: center;
        .fz(14px,2.5);
        color: @color;
    }
}

.m-trick-item__right {
    flex: 1;

    .u-skills {
        .flex;
        gap: 20px;
        flex-wrap: wrap;

        .u-skill {
            .pr;
            .flex;
            flex-direction: column;
            align-items: center;
            &:not(:last-of-type)::after {
                content: "▲";
                .pa;
                right: -20px;
                top: 12px;
                transform: rotate(90deg);
            }

            .u-gcd-icon {
                .pa;
                // 左上角
                left: -4px;
                top: -4px;
                background-color: #0366d6;
                .size(12px);
                .r(50%);
                .db;

                i {
                    color: #fff;
                    .fz(12px);
                    .db;
                }
            }
        }

        .u-skill-name {
            .fz(13px,1.5);
            width: 56px;
            overflow: hidden;
            text-overflow: clip;
            white-space: pre-wrap;
            text-align: center;
        }
    }

    .m-header {
        margin-bottom: 10px;
        letter-spacing: 0.5px;
        .fz(15px,2);
        padding: 0 20px;
    }

    .m-content {
        padding: 10px 20px;
        border-radius: 4px;

        .u-desc {
            .fz(13px,2);
            margin-top: 5px;
            // color:#c00;
            // padding-left:8px;
        }
    }

    .m-talent {
        margin-bottom: 20px;

        .u-icon {
            width: 24px;
            height: 24px;
        }
        .m-talent__title {
            .flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 5px;
        }
    }

    .m-talent__title {
        .bold;
        .fz(16px,2);
    }

    .m-skills {
        .m-skill-item {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }

        .u-title {
            margin-bottom: 10px;
            .bold;
            .fz(16px,2);
            .u-icon {
                .size(20px);
                padding: 0 2px;
            }
        }

        .u-icon {
            .pr;
            top: 2px;
            margin-right: 2px;
        }
    }
}
@media screen and (max-width: @phone) {
    .m-trick-item__right {
        .m-header {
            padding: 0;
        }
        .m-content {
            padding: 10px 0;
        }
    }
}

.m-trick-drawer {
    .el-drawer__body {
        padding: 0 20px;
        .scrollbar();
    }
    color: #333;
}

@media screen and (max-width: @smallpc) {
    .m-competitive-trick {
        max-width: 1560px;
        overflow-x: auto;

        .m-trick-item {
            .u-push {
                .none;
            }
        }
    }
    .m-trick-item__content {
        flex-direction: column;
    }
    .m-trick-item__left {
        .x;
        width: 100%;
    }
}
@media screen and (max-width: @ipad) {
    .m-trick-item__header {
        flex-direction: column;
        overflow: hidden;
    }
    .m-trick-item__title {
        white-space: nowrap;
        overflow: hidden;
        justify-content: flex-start;
    }
    .m-trick-item__thx {
        transform-origin: center center;
    }
}
