// project less root
body {
    background-color: @bg-black;
}
.m-main {
    padding: 20px 30px;
}
@media screen and (max-width: @ipad) {
    .m-main {
        padding: 10px 20px;
    }
}
@media screen and (max-width: @phone) {
    .m-main {
        padding: 10px 15px;
    }
    .el-drawer {
        width: 90% !important;
    }
}
.el-drawer__header {
    .mb(0) !important;
}
.el-drawer__body {
    padding-top: 10px !important;
}
