// project less root
.m-main {
    padding: 20px 20px;
}
@media screen and (max-width: @ipad) {
    .m-main {
        padding: 10px 20px;
    }
}
@media screen and (max-width: @phone) {
    .m-main {
        padding: 10px 15px;
    }
    .el-drawer {
        width: 90% !important;
    }
}
