.p-dark-layout {
    background-color: @bgColorDark;
    font-size: 14px;
    .u-admin-btn {
        margin-top: -2px;
    }
    .m-dark-breadcrumb {
        background-color: @bgColorDark;
        border-color: @bgColorDark1;
        .u-channel-logo {
            img {
                filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(137deg) brightness(98%) contrast(85%);
            }
        }
        .u-channel span {
            color: @colorDark;
        }
    }
    .m-dark-sidebar {
        background-color: @bgColorDark1;
    }
    .c-main {
        .mt(48px);
        padding: 0;
        .mr(0);
        .m-extend {
            .pointer;
        }
    }
}
