@bgColor: #1f2937;
@bgActiveColor: #111827;
@activeColor: #7879d0;
@color: #c8c8c8;
.p-dark-layout {
    background-color: @bgColor;
    @color: #c8c8c8;
    font-size: 14px;
    .u-admin-btn {
        margin-top: -2px;
    }
    .m-dark-sidebar {
        background-color: @bgColor;
    }
    .c-main {
        .mt(48px);
        padding: 0;
        .mr(0);
        .m-extend {
            .pointer;
        }
    }
}
