.active-icon {
    border: 2px solid #a5ffd0;
    box-shadow: 0 0 5px rgb(47, 251, 178, 0.8);
    border-radius: 6px;
    transition: all 0.3s;
}
.p-martial-arts {
    display: flex;
    background: #1a2b22;
    padding: 20px;
    border-radius: 8px;

    .m-martial-skills {
        flex: 1;
    }
    .m-martial-skill {
        .u-title {
            // 竖体显示
            writing-mode: tb-rl;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .u-title-name {
            z-index: 1;
            color: #fff;
            font-size: 12px;
        }
        .u-title-img {
            width: 24px;
            height: 71px;
            position: absolute;
        }
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        // border: 1px solid rgb(40,107,113);
        padding: 4px 0;
        position: relative;

        .u-name {
            display: block;
            color: #fff;
            font-size: 12px;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            width: 48px;
        }
    }
    .m-skills {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }

    .m-skill {
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;

        .u-icon {
            position: absolute;
            left: -8px;
            bottom: 14px;
            transform: rotate(-90deg);
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .u-skill-icon {
            box-sizing: border-box;
            border: 2px solid #1a2b22;
        }

        .u-skill.active {
            .u-skill-icon {
                .active-icon;
            }
            .u-name {
                color: #a5ffd0;
                text-shadow: 0 0 3px #2ffbb2;
            }
        }
    }

    .u-not-mount {
        filter: grayscale(100%);
    }

    .m-martial-extend {
        width: 300px;

        .m-mount-info {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0 50px;
        }

        .m-pasv {
            display: flex;
            align-items: center;
            flex-direction: column;
            .u-pasv-pic {
                border: 2px solid #67aba0;
                background-color: #2e4946;
                padding: 3px;
                box-sizing: border-box;
            }

            .u-name {
                display: block;
                color: #fff;
                font-size: 12px;
                line-height: 1.8;
                text-align: center;
                // overflow: hidden;
                white-space: nowrap;
                // width: 48px;
                margin-top: 4px;
            }

            &.active {
                .u-name {
                    color: #a5ffd0;
                    text-shadow: 0 0 3px #2ffbb2;
                }
                .u-pasv-pic {
                    .active-icon;
                }
            }
        }

        .u-pasv-pic {
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 6px;
            box-shadow: inset 0 0 1px rgb(0 0 0 / 20%);
            cursor: pointer;
        }
        .u-title {
            font-size: 14px;
            // 竖体显示
            color: #fff;
            margin-bottom: 10px;
        }

        &.hidden {
            opacity: 0;
        }
    }
}

.m-recipe-pop {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background-color: rgb(47, 60, 57) !important;
    opacity: 0.9;

    .u-recipe-item {
        cursor: pointer;
    }
    .u-icon {
        // width: 32px;
        height: 32px;
        border-radius: 2px;
    }

    .u-name {
        font-weight: bold;
        font-size: 12px;
    }

    .isQuality-null {
        color: #bbb;
    }
}

.m-skill-pop {
    padding: 1px !important;
    border: 1px solid #68817e !important;
    background: none !important;
    border-radius: 0 !important;
}

.m-pasv-pop {
    background-color: none !important;
    opacity: 0.9;
    .u-name,
    .u-desc {
        color: @q_yellow;
        font-size: 14px;
    }
    .u-subtitle {
        color: #fff;
    }

    .m-zhenfa-info {
        .flex;
        gap: 10px;
        align-items: center;
    }
    .u-zhenfa-bg {
        min-width: 148px;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-position: center;
    }
    .u-pic {
        display: block;
        width: 36px;
        height: 36px;
    }
}

.p-special-skill {
    background: #1a2b22;
    padding: 20px;
    border-radius: 8px;
    height: 518px;
}
.check-special-skill {
    position: relative;
    .check-special-skill-icon {
        position: absolute;
        left: 45%;
        color: #e3e3e3;
        line-height: 17px;
        top: 3px;
        cursor: pointer;
        .m-el-icon {
            position: relative;
            top: 3px;
            left: 8px;
        }
    }
}

// 品质颜色
// 橙色品质：ffa500
@q_orange: #ffa500;
// 紫色品质：ff2dff
@q_purple: #ff2dff;
// 蓝色品质：007eff
@q_blue: #007eff;
// 绿色品质：00d24b
@q_green: #00d24b;
.isQuality-2 {
    color: @q_green;
}
.isQuality-3 {
    color: @q_blue;
}
.isQuality-4 {
    color: @q_purple;
}
.isQuality-5 {
    color: @q_orange;
}
