.m-rank-list {
    position: relative;
}
.m-rank-list .m-rank-edit-icon {
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 30px;
}
.m-rank-list .m-rank-cont-list .m-rank-cont-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 21px;
}
.m-rank-list .m-rank-cont-list .m-rank-cont-item .m-rank-cont-img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
.m-rank-list .m-rank-cont-list .m-rank-cont-item .m-rank-cont-img image {
    width: inherit;
    height: inherit;
}
.m-rank-list .m-rank-cont-list .m-rank-cont-item .m-rank-cont-text {
    max-width: 60px;
    margin-right: 10px;
}
.m-rank-list .m-rank-form {
    display: flex;
    justify-content: center;
    width: 100%;
}
.m-rank-list .m-rank-form .m-left {
    width: 140px;
    text-align: right;
    padding-right: 14px;
}
.m-rank-list .m-rank-form .m-right {
    width: 100%;
}
.m-rank-list .m-rank-form .m-right .m-rank-form-header {
    display: flex;
    margin-bottom: 20px;
}
.m-rank-list .m-rank-form .m-right .m-rank-form-header div {
    width: 100%;
    text-align: center;
}
.m-rank-list .m-rank-form .m-right .item-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.m-rank-list .m-rank-form .m-right .m-rank-form-cont .rank-item-create {
    width: 100%;
    height: 30px;
    background: #80ccff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 21px;
    border-radius: 6px;
    margin: 12px 0px;
}
.m-rank-list .m-rank-form .m-right .m-rank-form-cont .item-list .m-rank-form-icon {
    cursor: pointer;
}
