.p-pvp-single {
    padding: 0 30px;
    .m-trick-item__right {
        flex: 1;

        .u-skills {
            .flex;
            gap: 20px;
            flex-wrap: wrap;

            .u-skill {
                .pr;
                .flex;
                flex-direction: column;
                align-items: center;
                &:not(:last-of-type)::after {
                    content: "▲";
                    .pa;
                    right: -20px;
                    top: 12px;
                    transform: rotate(90deg);
                }

                .u-gcd-icon {
                    .pa;
                    // 左上角
                    left: -4px;
                    top: -4px;
                    background-color: #0366d6;
                    .size(12px);
                    .r(50%);
                    .db;

                    i {
                        color: #fff;
                        .fz(12px);
                        .db;
                    }
                }
            }

            .u-skill-name {
                .fz(13px,1.5);
                width: 56px;
                overflow: hidden;
                text-overflow: clip;
                white-space: pre-wrap;
                text-align: center;
            }
        }

        .m-header {
            .fz(14px,2);
            color: @color;
            border: 1px solid @color-link;
            padding: 10px 15px;
            border-radius: 6px;
            div {
                white-space: pre-wrap;
            }
            .mb(20px);
        }

        .m-content {
            background-color: @bg-gray;
            padding: 20px;
            border-radius: 4px;

            .u-desc {
                .fz(13px,2);
                // color: #c00;
                margin-top: 5px;
            }
        }

        .m-talent {
            margin-bottom: 20px;

            .u-icon {
                width: 24px;
                height: 24px;
            }
            .m-talent__title {
                .flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 5px;
            }
        }

        .m-talent__title {
            .bold;
            .fz(16px,2);
        }

        .m-skills {
            .m-skill-item {
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
            }

            .u-title {
                margin-bottom: 10px;
                .bold;
                .fz(16px,2);
                .u-icon {
                    .size(20px);
                    padding: 0 2px;
                }
            }

            .u-icon {
                .pr;
                top: 2px;
                margin-right: 2px;
            }
        }
    }
}
.c-post-topic__img {
    margin: 0 10px;
}
.m-single-info {
    .u-icon-xf {
        .size(20px);
        .y;
    }
    .u-sub-block {
        .flex;
        align-items: center;
    }
    .u-value {
        .flex;
        align-items: center;
        gap: 4px;
    }
    .u-icon-edit {
        top: -1px !important;
    }
}

.m-single-null {
    padding: 20px 0;
}

.m-single-thx {
    .mt(40px);
}

@media screen and (max-width: @phone) {
    .m-single-info {
        .u-meta,
        .u-podate {
            .none;
        }
    }
}
