/***
GLOBAL DEFINITION 项目本地全局定义
🚫 WARNING : 不可删除！
***/
.u-msg-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
