.m-special-skill {
    // background: #1a2b22;
    border-radius: 8px;
    // color: #fff;
    margin-top: 20px;

    background-color: #fafbfc;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 14px;

    .m-skill {
        display: flex;
        font-size: 12px;
        gap: 15px;
        margin-top: 20px;
        align-items: flex-start;

        .u-skill {
            .flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .u-name {
            color: #000;
            margin-top: 10px;
        }

        .u-desc {
            flex: 1;
            .fz(14px,2);
            .el-textarea__inner {
                .scrollbar();
            }
        }
    }
}

.m-special-skill__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pointer;

    font-size: 17px;
    font-weight: 300;
    padding: 10px 0;
    color: #6c645c;
    margin: 0;
    font-weight: 500;
    padding: 10px 15px;
    background-color: #f5f7fa;
    border-bottom: 1px solid #eee;
    position: relative;

    .u-icon {
        .pointer;
        &:hover {
            color: @pink;
        }
    }

    .u-special-title {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #3d454d;
        font-size: 15px;
    }
    .u-collapse-icon {
        .pointer;
    }
}

.m-special-skill__drawer {
    .el-drawer__body {
        padding: 0 20px;
    }
    .m-dialog-tab {
        .el-divider__text {
            color: #888;
            font-weight: 300;
        }
    }

    .m-tabs-sort {
        margin-top: 20px;
        .u-tab-box {
            display: inline-flex;
            align-items: center;
            .u-tab-name {
                display: inline-block;
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .m-skill {
        display: flex;
        font-size: 12px;
        gap: 20px;
        margin-top: 20px;
        align-items: flex-start;

        .u-skill {
            .flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .u-name {
            color: #000;
        }

        .u-desc {
            flex: 1;
            .el-textarea__inner {
                .scrollbar();
            }
        }
    }
}

.m-special-skill__content {
    padding: 10px 20px 20px 20px;
    .el-tabs__header {
        margin-bottom: 0;
    }
}
